@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#box_one{
    width: 100%;
    float: left;
    background-image: url(one\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation: jaan 18s infinite;
    animation: jaan 18s infinite;
    transition: 0.8s;
    display: block;
}

@-webkit-keyframes jaan{

    0%{background-image: url(one\ \(1\).jpg);}
    20%{background-image: url(one\ \(1\).jpg);}
    30%{background-image: url(one\ \(2\).jpg);}
    40%{background-image: url(one\ \(2\).jpg);}
    50%{background-image: url(one\ \(3\).jpg);}
    60%{background-image: url(one\ \(3\).jpg);}
    70%{background-image: url(one\ \(4\).jpg);}
    80%{background-image: url(one\ \(4\).jpg);}
}

@keyframes jaan{

    0%{background-image: url(one\ \(1\).jpg);}
    20%{background-image: url(one\ \(1\).jpg);}
    30%{background-image: url(one\ \(2\).jpg);}
    40%{background-image: url(one\ \(2\).jpg);}
    50%{background-image: url(one\ \(3\).jpg);}
    60%{background-image: url(one\ \(3\).jpg);}
    70%{background-image: url(one\ \(4\).jpg);}
    80%{background-image: url(one\ \(4\).jpg);}
}
/*


*/
#box_two{
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-left: 5%;
    padding: 20px;
    margin-top: 35px;
    margin-bottom: 40px;
}


#txt_bx{
    width: 50%;
    padding: 10px;
    float: left;
}

#ply_btn{
    width: 40%;
    border: 5px solid rgb(5, 151, 151);
    padding: 20px;
    float: right; 
    border-radius: 10px; 
    background-color: rgba(128, 128, 128,0.4);
    box-shadow: 0px 5px 7px black;
}

#on_1{
    font-size: 45px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    filter: drop-shadow(0px 3px 5px white);
}

#to_2{
    font-size: 48px;
    margin-top: 10px;
    font-family: calibri;
    font-weight: bold;
    color: lightgray;
}

#para{
    font-size: 17px;
    font-family: calibri;
    text-align: justify;
    font-weight: bold;
    color: grey;
    margin-top: 10px;
}

#logo_bx{
    width: 100%;
    padding: 10px;
    display: flex;
    float: left;
    justify-content: space-around;
    margin-top: 20px;

}

#git,#link,#feature{
    width: 25%;
    height: 55px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(211, 207, 207);
    box-shadow: 0px 5px 5px black;
    transition: 0.8s;
    padding: 9px;
}

#git{
    background-image: url(github.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}

#link{
    background-image: url(linkedin.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}

#feature{
    background-image: url(application.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}


#git:hover{

    box-shadow: none;
    border: 3px solid greenyellow;
}

#link:hover{

    box-shadow: none;
    border: 3px solid greenyellow;
}


#feature:hover{

    box-shadow: none;
    border: 3px solid greenyellow;

}

#d_icn{
    width: 100%;
    display: flex;
    justify-content: center;
}

#vi_hd{
    font-size: 28px;
    text-align: center;
    font-family: calibri;
    font-weight: bold;
    margin-top: 40px;
    color: aqua;
}

#pra_hd{
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: calibri;
    font-weight: bold;
    color: white;
}

#vpld_btn{
    width: 40%;
    height: 35px;
    background: linear-gradient(aqua, rgb(2, 108, 108));
    margin-left: 30%;
    position: relative;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    transition: 0.8s;
    margin-top: 30px;
    margin-bottom: 10px;
}

#vpld_btn:hover{
    box-shadow: 0px 5px 5px gray;
}

#upld{
    width: 100px;
    height: 30px;
    position: absolute;
    left: 10%;
    top: 10%;
    opacity: 0;
    cursor: pointer;
}


#pld_txt{
    font-size: 17px;
    font-family: calibri;
    text-align: center;
    font-weight: bold;
    color: white;
}



/*start tablet mode code foramt*/

@media only screen and (min-width:768px) and (max-width:992px) {

    #box_two{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #txt_bx{
        width: 100%;
    }

    #ply_btn{
        width: 100%;
        margin-top: 20px;
    }

    #pld_txt{
        font-size: 17px;
    }

}

/*end start tablet mode code foramt*/


/*start mobile mode code format*/

@media only screen and (max-width:600px){

    #box_two{
        width: 90%;
        padding: 0px;
    }

    #txt_bx{
        width: 100%;
    }

    #ply_btn{
        width: 100%;
        margin-top: 20px;
    }

    #pld_txt{
        font-size: 16px;
    }

    #vpld_btn{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    #on_1{
        font-size: 35px;
        text-align: center;
    }

    #to_2{
        font-size: 38px;
        text-align: center;
    }

    #para{
        font-size: 13px;
    }

    #vi_hd{
        font-size: 25px;
    }

    #pra_hd{
        font-size: 14px;
        text-align: justify
    }


}

/*end start mobile mode code format*/





/*video box coding format system*/

    #main_box{

        width: 100%;
        height: 100vh;
        background-color: black;
        position: relative;
        display: flex;
        align-items: end;
        display: none;
    }

    #video{
        width: 100%;
        height: 100vh;
    }

    #base{
        width: 100%;
        height: 70px;
        background-color: rgba(128, 128, 128,0.5);
        float: left;
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #rgt_btn{
        width: 50px;
        height: 50px;
        background-image: url(back-arrow\ \(1\).png);
        background-size: 50px;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    #srt_btn{
        width: 50px;
        height: 50px;

        position: relative;
    }

    #lft_btn{
        width: 50px;
        height: 50px;
        background-image: url(right-arrow.png);
        background-repeat: no-repeat;
        background-size: 50px;
        cursor: pointer;
    }

    #ply_icn{
        width: 50px;
        cursor: pointer;
    }

    #pau_icn{
        width: 50px;
        cursor: pointer;
        position: absolute;
        left: 1%;
        display: none;
    }




/*end video box coding format system*/